.main{
    height: 500px;
    position: relative;
}

.askedQuestion{
    width: 900px;
    height: 250px;
    background-color: blue;
    position: absolute;
    top: 3%;
    left: 15%;
    border: solid black 1px;
}

.boardWrap{
    width: 900px;
    height: 250px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 15%;
    border: solid black 1px;
}

.commit{
    position: absolute;
    left: 800px;
}
