@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.hd {
  height: 150px;
  background-color: #4A87E2;
  box-shadow: 0px 4px 50px 50px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hd .logo {
  margin-left: 50px;
}

.hd .logo a {
  display: block;
}

.hd .hdWrap {
  display: block;
  margin-right: 50px;
}

.hd .topmenu {
  padding-bottom: 20px;
  display: flex;
  justify-content: end;
}

.hd .topmenu li {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
}

.hd .topmenu li a {
  text-decoration: none;
  display: block;
  background-color: rgb(225, 222, 222);
  padding: 10px 20px;
  color: #555;
  border-radius: 20px;
  width: 105PX;
  height: 30px;
}

.hd .topmenu li a:hover{
  background-color: #ccc;
}

.hd .menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hd .menu li {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
}

.hd .menu li a {
  text-decoration: none;
  display: block;
  background-color: rgb(225, 222, 222);
  padding: 10px 20px;
  color: #555;
  width: 130px;
  height: 40px;
  border-radius: 20px;
}

.hd .menu li a:hover{
  background-color: #ccc;
}

footer {
  background-color: tomato;
  display: block;
  height: 300px;
}